@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.App-header{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

label {
  color: black;
  display: block;
  margin-bottom: 8px
}


input:checked+p {
  color: #777;
  text-decoration: line-through;
}

.container {
  width: 100%;
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 200px auto;
}

.sidebar {
  grid-area: sidebar;
  height: 100vw;
  border-bottom-right-radius: 25px;
  background-color: #0B3560;
}

.main {
  grid-area: main;
  height: 100vw;
  background-color: rgb(255, 255, 255);
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  height: 50%;
  width: 60%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}