@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.App-header{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

label {
  color: black;
  display: block;
  margin-bottom: 8px
}


input:checked+p {
  color: #777;
  text-decoration: line-through;
}

.container {
  width: 100%;
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 200px auto;
}

.sidebar {
  grid-area: sidebar;
  height: 100vw;
  background-color: #0B3560;
}

.main {
  grid-area: main;
  height: 100vw;
  background-color: rgb(255, 255, 255);
}